
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              <div class="row state-overview">
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol terques">
                              <i class="fa fa-user"></i>
                          </div>
                          <div class="value">
                              <h1 class="count">
                                  0
                              </h1>
                              <p>新用户</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol red">
                              <i class="fa fa-eye"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count2">
                                  0
                              </h1>
                              <p>浏览量</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol yellow">
                              <i class="fa fa-photo"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count3">
                                  0
                              </h1>
                              <p>模板数量</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol blue">
                              <i class="fa fa-bar-chart"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count4">
                                  0
                              </h1>
                              <p>总用户</p>
                          </div>
                      </section>
                  </div>
              </div>
              <!--state overview end-->
              

              <div class="row">
                  <div class="col-lg-8">
                    <div class="border-head">
                        <h3>每月新增用户</h3>
                    </div> 
                    <div class="new-user-chart" id="new_user_chart">
                        
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <!--new earning start-->
                      <div class="panel terques-chart">
                          <div class="panel-body chart-texture">
                              <div class="chart">
                                  <div class="heading">
                                      <span>最近更新</span>
                                      <strong>2017-8-27</strong>
                                  </div>
                                  <div id="linechart" class="content"></div>
                              </div>
                          </div>
                          <div class="chart-tittle">
                              <span class="title">最近7日浏览量</span>
                              <span class="value">
                                  15000
                              </span>
                          </div>
                      </div>
                      <!--new earning end-->

                      <!--total earning start-->
                      <div class="panel green-chart">
                          <div class="panel-body">
                              <div class="chart">
                                  <div class="heading">
                                      <span>最近更新</span>
                                      <strong>2017-8-23</strong>
                                  </div>
                                  <div id="barchart" class="content"></div>
                              </div>
                          </div>
                          <div class="chart-tittle">
                              <span class="title">最近7日下载量</span>
                              <span class="value">76,54,678</span>
                          </div>
                      </div>
                      <!--total earning end-->
                  </div>
              </div>
              <div class="border-head">
                  <h3>活跃用户</h3>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <!--user info table start-->
                      <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="img/avatar1.jpg" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">Anjelina Joli</a></h1>
                                  <p>普通用户</p>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>邮箱</td>
                                    <td> luo_sj@163.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-calendar"></i>
                                    </td>
                                    <td>注册时间</td>
                                    <td>2017-4-25</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <i class="fa fa-clock-o"></i>
                                    </td>
                                    <td>最近登录时间</td>
                                    <td>2017-4-26</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--user info table end-->
                  </div>
                  <div class="col-lg-4">
                      <!--user info table start-->
                      <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="img/avatar1.jpg" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">Anjelina Joli</a></h1>
                                  <p>普通用户</p>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>邮箱</td>
                                    <td> luo_sj@163.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-calendar"></i>
                                    </td>
                                    <td>注册时间</td>
                                    <td>2017-4-25</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <i class="fa fa-clock-o"></i>
                                    </td>
                                    <td>最近登录时间</td>
                                    <td>2017-4-26</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--user info table end-->
                  </div>
                  <div class="col-lg-4">
                      <!--user info table start-->
                      <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="img/avatar1.jpg" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">Anjelina Joli</a></h1>
                                  <p>普通用户</p>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>邮箱</td>
                                    <td> luo_sj@163.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-calendar"></i>
                                    </td>
                                    <td>注册时间</td>
                                    <td>2017-4-25</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <i class="fa fa-clock-o"></i>
                                    </td>
                                    <td>最近登录时间</td>
                                    <td>2017-4-26</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--user info table end-->
                  </div>
                  <div class="col-lg-4">
                      <!--user info table start-->
                      <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="img/avatar1.jpg" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">Anjelina Joli</a></h1>
                                  <p>普通用户</p>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>邮箱</td>
                                    <td> luo_sj@163.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-calendar"></i>
                                    </td>
                                    <td>注册时间</td>
                                    <td>2017-4-25</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <i class="fa fa-clock-o"></i>
                                    </td>
                                    <td>最近登录时间</td>
                                    <td>2017-4-26</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--user info table end-->
                  </div>
                  <div class="col-lg-4">
                      <!--user info table start-->
                      <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="img/avatar1.jpg" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">Anjelina Joli</a></h1>
                                  <p>普通用户</p>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>邮箱</td>
                                    <td> luo_sj@163.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-calendar"></i>
                                    </td>
                                    <td>注册时间</td>
                                    <td>2017-4-25</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <i class="fa fa-clock-o"></i>
                                    </td>
                                    <td>最近登录时间</td>
                                    <td>2017-4-26</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--user info table end-->
                  </div>
                  <div class="col-lg-4">
                      <!--user info table start-->
                      <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="img/avatar1.jpg" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">Anjelina Joli</a></h1>
                                  <p>普通用户</p>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>邮箱</td>
                                    <td> luo_sj@163.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-calendar"></i>
                                    </td>
                                    <td>注册时间</td>
                                    <td>2017-4-25</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <i class="fa fa-clock-o"></i>
                                    </td>
                                    <td>最近登录时间</td>
                                    <td>2017-4-26</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--user info table end-->
                  </div>

                 
              </div>
      

          </section>
      </section>
      <!--main content end-->
  
    {{#section 'script'}}
        <script src="assets/echarts.min.js"></script>

        <!--script for this page-->
        <script src="js/custom-chart.js"></script>
        <script src="js/count.js"></script>

        
    {{/section}}
