

     <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--mail inbox start-->
              <div class="mail-box">
                 
                  <aside class="lg-side">
                      <div class="inbox-head">
                          <h3>消息中心</h3>
                          <form class="pull-right position" action="#">
                              <div class="input-append">
                                  <input type="text"  placeholder="搜索邮件" class="sr-input">
                                  <button type="button" class="btn sr-btn"><i class="fa fa-search"></i></button>
                              </div>
                          </form>
                      </div>
                      <div class="inbox-body">
                         <div class="mail-option">
                             <div class="chk-all">
                                 <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                 <div class="btn-group" >
                                     <a class="btn mini all" href="#" data-toggle="dropdown">
                                         全选
                                         <i class="fa fa-angle-down "></i>
                                     </a>
                                     <ul class="dropdown-menu">
                                         <li><a href="#"> None</a></li>
                                         <li><a href="#"> Read</a></li>
                                         <li><a href="#"> Unread</a></li>
                                     </ul>
                                 </div>
                             </div>

                             <div class="btn-group">
                                 <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top" data-original-title="Refresh">
                                     <i class=" fa fa-refresh"></i>
                                 </a>
                             </div>
                             <div class="btn-group hidden-phone">
                                 <a class="btn mini blue" href="#" data-toggle="dropdown">
                                     操作
                                     <i class="fa fa-angle-down "></i>
                                 </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="#"><i class="fa fa-pencil"></i> 标记为已读 </a></li>
                   
                                     <li class="divider"></li>
                                     <li><a href="#"><i class="fa fa-trash"></i> 删除 </a></li>
                                 </ul>
                             </div>

                             <ul class="unstyled inbox-pagination">
                                 <li><span>1-50 of 234</span></li>
                                 <li>
                                     <a href="#" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                                 </li>
                                 <li>
                                     <a href="#" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                                 </li>
                             </ul>
                         </div>
                          <table class="table table-inbox table-hover">
                            <tbody>
                              <tr class="unread">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><span class="label label-danger ">未读</span></td>
                                  <td class="view-message  dont-show">Vector Lab</td>
                                  <td class="view-message ">chen@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message  text-right">9:27 AM</td>
                              </tr>
                              
                              <tr class="unread">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><span class="label label-danger ">未读</span></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="unread">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><span class="label label-danger ">未读</span></td>
                                  <td class="view-message  dont-show">Vector Lab</td>
                                  <td class="view-message ">chen@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message  text-right">9:27 AM</td>
                              </tr>
                              
                              <tr class="unread">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><span class="label label-danger ">未读</span></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>

                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>

                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>
                              <tr class="read">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"></td>
                                  <td class="view-message dont-show">Mosaddek</td>
                                  <td class="view-message">zhang@163.com</td>
                                  <td class="view-message ">你好，有些问题请教一下</td>
                                  <td class="view-message text-right">May 23</td>
                              </tr>

                              
                          </tbody>
                          </table>
                      </div>
                  </aside>
              </div>
              <!--mail inbox end-->
          </section>
      </section>
      <!--main content end-->

