    
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              
                      <section class="col-md-12 panel panel-template " >
                          <header class="panel-heading">
                              模板管理
                          </header>
                          <div class="panel-body">
                              <div class="pro-sort">
                                  <label class="pro-lab">排序</label>
                                  <select class="styled" >
                                      <option>全部 &nbsp</option>
                                      <option>时间 &nbsp</option>
                                      <option>人气 &nbsp</option>
                                  </select>
                              </div>
                              <div class="pro-sort">
                                  <label class="pro-lab">类型</label>
                                  <select class="styled" >
                                      <option>全部 &nbsp</option>
                                      <option>商务 &nbsp</option>
                                      <option>个性 &nbsp</option>
                                  </select>
                              </div>
                              <div class="pro-sort">
                                  <label class="pro-lab">搜索</label>
                                  <input type="text" class="search-input" placeholder="请输入关键词">
                                  <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
                              </div>


                              <div class="pull-right">
                                  <ul class="pagination pagination-m pro-page-list">

                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">6</a></li>
                                      <li><a href="#">7</a></li>
                                      <li><a href="#">8</a></li>
                                      <li><a href="#">9</a></li>
                                      <li><a href="#">10</a></li>
                                      <li><a href="#">11</a></li>
                                      <li><a href="#">12</a></li>
                                      <li><a href="#">13</a></li>
                                      <li><a href="#">»</a></li>
                                  </ul>
                              </div>
                          </div>
                      </section>
                   

                      <div class="row product-list">
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro-1.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                      

                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro1.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro2.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro3.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro-1.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro2.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro1.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro3.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                          <div class="col-md-4">
                              <section class="panel">
                                  <div class="pro-img-box">
                                      <img src="img/product-list/pro-1.jpg" alt=""/>
                                      <div class="edit-container">
                                        <a class="adtocart btn-primary" href="#">
                                          <i class="fa fa-pencil"></i>
                                        </a>  
                                        <a class="adtocart btn-danger" href="#">
                                          <i class="fa fa-trash"></i>
                                        </a> 
                                      </div>
                                  </div>

                                  <div class="panel-body text-center">
                                      <h4>
                                          <a href="#" class="pro-title">
                                              Leopard Shirt Dress
                                          </a>
                                      </h4>
                                      <p class="price">$300.00</p>
                                  </div>
                              </section>
                          </div>
                      </div>
                  
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->

    <!-- js placed at the end of the document so the pages load faster -->
    {{#section 'script'}}
    
    <!-- js placed at the end of the document so the pages load faster -->

    <script src="js/jquery.customSelect.min.js" ></script>
    <script type="text/javascript">
        
        $(function(){
            $('select.styled').customSelect();
        });
        
    </script>
    {{/section}}