<div class="mask login-reg-pop">
	<div class="login-reg-container">	
		<div class="login-panel">	
			<div class="login-title">	
				<img src="/images/logo_login.png" alt="">
				<span>登录</span>
			</div>
			<form action="" class="login-form">
				<div class="form-group">
					<i class="fa fa-user"></i>
					<input type="text" placeholder="请输入用户名" name="loginname">	
				</div>
				<div class="form-group">
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="请输入密码" name="loginpassword">
				</div>

				<div class="form-group">
					<input type="button" class="button-green button-login" value="登录">	
				</div>
				
			</form>
		</div>
		<div class="dividline"></div>
		<div class="reg-panel">	
			<div class="reg-title">	
				<span>注册</span>
			</div>
			<form action="" class="reg-form">
				<div class="form-group">
					<i class="fa fa-user"></i>
					<input type="text" placeholder="请输入用户名" name="regname" class="regname">
				</div>
				<div class="form-group">
					<i class="fa fa-envelope"></i>
					<input type="text" placeholder="请输入邮箱地址" name="mailaddress" class="regmail">
				</div>
				<div class="form-group">
					<i class="fa fa-unlock-alt"></i>
					<input type="password" placeholder="请输入密码" name="password" class="password">
				</div>
				<div class="form-group">
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="请再次输入密码" class="re-password">
				</div>
				<div class="form-group">
					<input type="button" class="button-green button-reg" value="注册">	
				</div>
				
			</form>
		</div>
		
		<i class="fa fa-close pop-close"></i>

	</div>
</div>