<div class="temp-list">
	<ul>
		{{#each card}}
			<li>
				<a href="/edituser/{{_id}}">
					<img src="/coverImg/{{coverFront}}" alt="">
					<p>{{title}}</p>
				</a>
				{{#if flag}}
					<i class="fa fa-heart collection collection-active"></i>
				{{else}}
					<i class="fa fa-heart collection"></i>
				{{/if}}
			</li>
		{{/each}}
	</ul>
</div>	