<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}-beta</title>
    <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.css">
    <link rel="stylesheet" href="/notyfy/notyf.css">
    <link rel='stylesheet' href='/css/all.css' />
    <script src='/notyfy/notyf.js'></script>
    <script src='/js/common.js'></script>
  </head>
    {{{body}}}
</html>
