<body>
	<header class="template">
		<div class="container">
			<div class="logo">
				<img src="/images/logo_home.png" alt="">

			</div>
			
			<div class="log-reg">
			{{#if loginedUser}}
				<div class="logined">
					<img src="images/logo_white.png" alt="">
					<span class="user-name"><a href="/personal">{{loginedUser.username}}</a></span>
					<span class="logout"><a href="/logout">登出</a></span>
				</div>
			{{else}}
				<div class="no-login">
					<button class="login button-green">注册</button>
					<button class="reg button-green">登录</button>
				</div>
			{{/if}}
			</div>
			<ul class="menu">
				<li><a href="/">首页</a></li>
				<li><a href="/edituser">编辑器</a></li>
				<li><a href="/tempcenter" class="active">模板中心</a></li>
				<li>联系我</li>
			</ul>
		</div>
	</header>
	<section class="category">
		<div class="container">
			<span>主题分类</span>
			<ul class="category-menu">
				<li class="active" type="all">
						全部
				</li>
				<li type="business">
						商务
				</li>
				<li type="personality">
						个性
				</li>
			</ul>
		</div>
	</section>
	<section class="all-temp">
		<div class="container">
			{{> templist}}
		</div>
	</section>
	<footer class="template">
		<p>Copyright©luosj.cn 闽ICP备xxxxxxx号</p>
	</footer>
	{{> logreg}}
	<script src='/assets/vue.min.js'></script>
	<script src='/js/account.js'></script>
	<script src="/js/getCards.js"></script>
</body>