/*公共样式*/
*{
	margin: 0;
	padding: 0;
	outline: none;
}
body{
	font-family: "微软雅黑", Helvetica, Arial;
}
body.edit{
	background-color: #f5f5f5;
}
body.edit *{
	box-sizing: border-box;
}
ul.menu a.active{
	color: #04981a;
}

a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}
input[type = "file"]{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
opacity: 0;
cursor: pointer;
}
/*绿色实心按钮*/
.button-green{
	box-sizing: border-box;
	color: white;
	border: none;
	background-color: #04981a;
	border-radius: 4px;
	cursor: pointer;
}
.button-green:hover{
	background-color: #037714;
}
/*灰色空心按钮*/
.button-grey{
	box-sizing: border-box;
	color: #232323;
	border: 1px solid #e0e0e0;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
}
.button-grey:hover{
	background-color: #f8f8f8;
}
/*加载样式*/
.loader{
	position: absolute;
	left:50%;
	margin-top: 200px;
	margin-left: -50px;
	width: 100px;
	color: #858585;
}
.loader>p{
	margin: 10px 0;
}

.container{
	width: 1190px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	overflow: hidden;
}

.collection{
	display: none;
	position: absolute;
	top: 10px;
	right: 20px;
	color: gray;
	font-size: 18px;
}

.collection-active{
	color: #d81f1f;
}

/*首页样式*/
header{
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	color: white;
	line-height: 100px;
	z-index: 999;
	overflow: hidden;
}
.logo{
	float: left;
}
ul.menu, .log-reg{
	float: right;
}

ul.menu li{
	float: left;
	margin: 0 30px;
	cursor: pointer;
}
ul.menu li a{
	color: white;
}
.logined{
	display: block;
	color: #04981a;
	cursor: pointer;
}
.logined>img{
	width: 30px;
	border-radius: 50%;
	background: black;
	vertical-align: middle;
	margin: 10px;
}
.logined .logout{
	margin-left: 10px;
	color: grey;
}
.logined .logout:hover{
	color: white;
	transition: all 1s;
}

.no-login{
	display: block;
}

.log-reg button{
	width: 90px;
	height: 30px;
	margin: 0 2px;
} 

button.login{
	border: 1px solid #037714;
	color: #037714;
	background: none;
}
button.login:hover{
	background: rgba(0,0,0,0.9);
}

/*登录注册面板*/
.login-reg-container{
	position: relative;
	display: flex;
	width: 830px;
	height: 470px;
	background-color: white;
	border-radius: 6px;
}
.login-reg-container form{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-reg-container .form-group{
	position: relative;
	width: 300px;
	height: 46px;
	display: block;
	margin-bottom: 26px;
}
.login-reg-container input{
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	
	box-sizing: border-box;
	padding: 0 44px;
}

.form-group i{
	color: #858585;
	position: absolute;
	top: 14px;
	left: 16px;
	z-index: 1;
}
.confirm-alert{
	font-size: 14px;
	color: red;
	position: absolute;
	left: 45px;
}
.confirm-success>i{
	position: absolute;
	left: 270px;
	color: #009944;
	font-size: 16px;
}
.dividline{
	width: 1px;
	height: 100%;
	background-color: #eee;
}
.login-panel, .reg-panel{
	width: 50%;
}
.login-title, .reg-title{
	height: 100px;
	display: flex;
	align-items: center;
	padding: 0 60px;
}
.login-title{
	margin-bottom: 30px;
}
.login-title img{
	margin-right: 26px;
}
.login-title span, .reg-title span{
	font-size: 20px;
	color: #858585;
}
.button-login, .button-reg{
	cursor: pointer;
	font-size: 16px;
}

i.pop-close{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 10px;
	right: 10px;
	font-size: 24px;
	color: #858585;
	cursor: pointer;
}
.banner{

	min-height: 700px;
	min-width: 1190px;
	text-align: center;
	background: -webkit-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/img_banner.png)  no-repeat;
	background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/img_banner.png)  no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;	
	color: white;            
}

.title, .sub-title{
	margin-bottom: 50px;
}
.title{
	margin-top: 200px;
	font-size: 50px;
	font-weight: bold;
	-webkit-animation: titleMoveUp 1.5s, showup 1.5s;
	        animation: titleMoveUp 1.5s, showup 1.5s;
	
}
.sub-title{
	font-size: 28px;
	color: rgba(255,255,255,0.4);
	-webkit-animation: showup 1.5s;
	        animation: showup 1.5s;
}
button.start{
	width: 240px;
	height: 60px;
	font-size: 24px;
	-webkit-animation: buttonMoveUp 2s, showup 2s;
	        animation: buttonMoveUp 2s, showup 2s;
}

@-webkit-keyframes showup{
	from{
		opacity: 0;
	}
	to{
		opacity: 1
	}
}

@keyframes showup{
	from{
		opacity: 0;
	}
	to{
		opacity: 1
	}
}

@-webkit-keyframes titleMoveUp{
	from{
		margin-top: 300px;
	}
	to{
		margin-top: 200px;
	}
}

@keyframes titleMoveUp{
	from{
		margin-top: 300px;
	}
	to{
		margin-top: 200px;
	}
}
@-webkit-keyframes buttonMoveUp{
	from{
		margin-top: 50px;
	}
	to{
		margin-top: 0px;
	}
}
@keyframes buttonMoveUp{
	from{
		margin-top: 50px;
	}
	to{
		margin-top: 0px;
	}
}

.selected-temp{
	height: 850px;
	text-align: center;
}
.temp-title{
	margin-top: 40px;
	font-size: 32px;
	font-weight: bold;
}
.temp-sub-title{
	margin-top: 5px;
	font-size: 16px;
	color: #858585;
}

ul.temp-type{
	position: relative;
	margin:0 auto;
	margin-top: 20px;
	border-bottom: 4px solid #bcbcbc;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
ul.temp-type li{
	float: left;
	width: 100px;
	text-align:center;
	cursor: pointer;
}
.slide-blok{
	position: absolute;
	width: 50%;
	height: 4px;
	left: 0px;
	bottom: -4px;
	background-color: #04981a;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.temp-list{
	margin-top:40px;
	min-height: 600px;
	position: relative;
}
.temp-list li:hover .collection{
	display: block;
}
.temp-list ul li{
	width: 25%;
	float: left;
	text-align: center;
	position: relative;
}
.temp-list ul li img{
	width: 280px;
	height: 180px;
	border: 1px solid #eee;
}
.temp-list ul li p{
	margin:20px 0 30px;
}
.temp-list>ul{
	width: 100%;
	background: white;
}
ul.temp-personality{
	display: none;
}
button.check-more{
	position: absolute;
	width: 200px;
	height: 50px;
	font-size: 18px;
	bottom: 30px;
	left: 50%;
	margin-left: -100px;
}

footer{
	height: 450px;
	min-width: 1190px;
	background: -webkit-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/img_bg_footer.png)  no-repeat;
	background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/img_bg_footer.png)  no-repeat;
	background-size: 100% 100%;	   

	color: rgba(255,255,255,0.5);

}

footer .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.site-info, .author-info{
	position: relative;
	width: 50%;
	height: 180px;
	float: left;
}
.site-info img{

	margin-top: 30px;
}
.site-info p{
	margin-top: 10px;
}
.author-info img{
	border:3px solid rgba(224,224,224,0.3);
}
.detail{
	width: 370px;
	float: right;
}
.detail .name{
	font-size: 32px;
	color: #03d522;
	font-weight: bold;
}
.detail .des{
	margin-top: 45px;
}


/*模板中心样式*/
header.template{
	background: black;
}
section.category{
	height: 120px;
	padding-top: 100px;
	background: white;
	box-shadow: 1px 0 10px #e0e0e0;
	text-align: center;
}
section.category>.container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
section.category span{
	display: inline-block;
	float: left;
	margin-right: 25px;
	color: #656565;
}
ul.category-menu{
	float: left;
}
ul.category-menu li{
	float: left;
	width: 80px;
	border-radius: 2px;
	padding: 5px 0;
	margin: 0 25px;
	cursor: pointer;
}

ul.category-menu li.active{
	background-color: #04981a;
	color: white;
}
footer.template{
	height: 100px;
	background: -webkit-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/img_bg_footer.png)  no-repeat;
	background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/img_bg_footer.png)  no-repeat;
	background-size: 100%;
	background-position: bottom;
	line-height: 100px;
	text-align: center;
}

/*
 *编辑页面样式
 */
.content-main-upload,.content-main-user{
min-width: 800px;
min-height: 600px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: absolute;
top: 0;
bottom: 0;
}
 .edit-menu, .edit-info{
	width: 100%;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.panel-action{
	padding: 0 30px;
}
.panel-action, .panel-action i{
	font-size: 20px;
	color: #656565;
}
.panel-action>button{
	margin: 0 5px;
	border:0;
	background: none;
	cursor: pointer;
}
.panel-action, .panel-tabs, .panel-submit{
	float: left;
	width: 33.3333%;
}
.panel-tabs{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.panel-submit{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.panel-tabs>button{
	width: 95px;
	height: 32px;
	margin: 5px;
	font-size: 16px;
	color: #fff;
	background-color: #bababa;
	border-radius: 2px;
	border:none;
	cursor: pointer;
}
.panel-tabs-active{
	background-color: #555555!important;
}
.panel-submit{
	padding:0 30px;
}

button.save{
	width: 110px;
	height: 32px;
	font-size: 16px;
}
.panel-submit>button>i{

	padding: 0 10px 0 0;
	font-size: 16px;
}
/*edit-canvas样式*/
.canvas-wrapper{
	width: 740px; 
	height: 457px;
	position: relative;
	border:1px solid #e0e0e0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}
.edit-canvas{
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}
.side-front, .side-back{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.side-back{
	display: none;
}
.edit-elem{
	position: absolute;
}
/*edit-info样式*/
.edit-info{
	font-size: 16px;
	color: #656565;
}

.edit-toolbar{
	position: absolute;
	height: 40px;
	display: none;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 5px;
	border:1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background-color: #fff;
}
.edit-toolbar i{
	color: #656565;
}

.edit-toolbar>div[data-tooltip]{

	position: relative;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: transparent;
	border:none;
	border-radius: 4px;
	cursor: pointer;
	margin:0 3px;
}
/*tooltip样式*/
.edit-toolbar>div[data-tooltip]:after{
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	width: 60px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	text-align: justify-all;
	padding: 2px 0;
	left: 50%;
	margin-left: -30px;
	top: -48px;
	color: white;
	font-size: 12px;
}
.edit-toolbar>div[data-tooltip]:before{
	content: '';
	position: absolute;
	display: none;
	border: 6px solid transparent;
	border-top-color: rgba(0, 0, 0, 0.8);
	left: 50%;
	margin-left: -6px;
	top: -15px;
}
.edit-toolbar>div[data-tooltip]:hover:after, .edit-toolbar>div[data-tooltip]:hover:before{
	display: block;
}

.edit-toolbar>div{
	margin: 0 5px;
}
.edit-toolbar>div[data-tooltip]:hover{
	background-color: #e0e0e0;
}

.edit-toolbar i{
	font-size: 20px;
}

.change-image .input-wrapper{
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}

.edit-transparent, .edit-fontfamily, .edit-fontsize{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 20px;
	font-size: 14px;
}
.edit-fontfamily{
	width: 60px;
}
.edit-color{
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #e0e0e0;
	background-color: green;
}
.edit-color:after{
	content: '';
	border: 3px solid transparent;
	border-top-color: #fff;
	position: absolute;
	bottom: -1px;
	right: -1px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.edit-font>span{
	margin-left: 5px;
	margin-right: 10px;
}
.edit-transparent input{
	display: inline-block;
	width: 40px;
	height: 18px;
	margin-left: 5px;
	border:none;
	background-color: transparent;
	-webkit-transition: ;
}

.default-text{
	font-size: 30px;
	position: absolute;

	left: 310px;
	top: 270px;
}
.default-image{
	background: url(/images/logo2.png) no-repeat;
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	left: 320px;
	top: 130px;
}
/*变换框样式*/
.edit-transformer{
	display: none;
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-color: rgba(255,255,255,0.8);
	position: absolute;
	cursor: move;
}
.edit-transformer:before{
	content: '';
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 1px dashed black;
}
.edit-transformer>div{
	width: 16px;
	height: 16px;
	background-color: white;
	position: absolute;
	border: 1px solid #232323;
	border-radius: 2px;
	font-size: 10px;
	text-align: center;
}
.edit-transformer>div>i{
	display: block;
	line-height: 16px;
}
.move{
	left: -8px;
	top: -8px;
	cursor: move;
}
.rotate{
	right: -8px;
	top: -8px;
	cursor: pointer;
}
.cancel{
	left: -8px;
	bottom: -8px;
	cursor: pointer;
}
.scale{
	right: -8px;
	bottom: -8px;
	cursor: se-resize
}

.svg-transformer{
	display: none;
}
.svg-transformer>div{
	width: 10px;
	height: 10px;
}
.nw{
	left: -5px;
	top: -5px;
	cursor: nw-resize;
}
.n{
	left: 50%;
	margin-left: -5px;
	top: -5px;
	cursor: n-resize;
}
.ne{
	right: -5px;
	top: -5px;
	cursor: ne-resize;
}
.w{
	left: -5px;
	top: 50%;
	margin-top: -5px;
	cursor: w-resize;
}
.e{
	right: -5px;
	top: 50%;
	margin-top: -5px;
	cursor: e-resize;
}
.sw{
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}
.s{
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	cursor: s-resize;
}
.se{
	right: -5px;
	bottom: -5px;
	cursor: se-resize;
}
/*透明度滑块样式*/
.transparent-range, .font-selectbar{
	position: absolute;
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.transparent-range{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 150px;
	height: 30px;

}
.transparent-range:before{
	content: '';
	width: 100%;
	height: 6px;
	margin:0 6px;
	border-radius: 4px;
	background-color: #e0e0e0;
}
.range-circle{
	position: absolute;
	left: 130px;
	border: 1px solid #bbb;
	width: 16px;
	height: 16px;
	background-color: white;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	border-radius: 50%;
	cursor: pointer;
}
/*字选择器*/
.edit-controler{
	display: none;
}
.font-selectbar, .size-selectbar{
	position: absolute;
	left: 300px;
	background-color: white;
	border-radius: 4px;
}
.font-selectbar ul li{
	line-height: 30px;
	text-align: left;
	padding: 0 10px;
	cursor: pointer;
}
.font-selectbar ul li:hover{
	background-color: #f2f2f2;
}
.size-select{
	left: 200px;
}

input[type = 'color']{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

/*用户编辑页样式*/
.sidebar-user{
	float: left;
	position: absolute;
	width: 300px;
	min-height: 600px;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	padding: 15px 10px;
	background-color: #222222;
	color: rgba(255,255,255,0.6);
	font-size:16px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}
.sidebar-user a{
	color: rgba(255,255,255,0.6);
}
.sidebar-header{
	position: relative;
	height: 30px;
	overflow: hidden;
	font-size: 18px;
	line-height: 30px;
}
.logo-edit{
	float: left;
	height: 100%;
	line-height: 30px;
}
.logo-edit img{
	margin-bottom: 3px;
	vertical-align: middle;
}
.type{
	margin: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.type>div{
	width: 130px;
	height: 35px;
	line-height: 35px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	position: relative;

}
ul.thame-list, ul.size-list{
	position: absolute;
	width: 100%;
	display: none;
	background: black;
	border-radius: 4px;
	margin-top: 10px;
	padding: 10px 0;
	background-color: #383838;
}
ul.thame-list li:hover, ul.size-list li:hover{
	background-color: #404040;
}

.type i{
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	margin-left: 5px;
}
.template-container{
	
	height: calc(100% - 100px);
	overflow: hidden;
}
ul.template{
	overflow-y: auto;
	height: 100%;
	margin-right: -18px;
}
ul.template>li{
	margin-bottom: 15px;
	background-color: white;
	cursor: pointer;
	position: relative;
}
ul.template>li:hover .collection{
	display: block;
}
ul.template>li img{
	width: 100%;
}
/*content-main样式*/
.content-main-user{
	width: calc(100% - 300px);
	left: 300px;
}

/*管理员编辑页面样式*/
.sidebar-upload{
float: left;
position: absolute;
width: 70px;
min-height: 600px;
top: 0;
bottom: 0;

display: -webkit-box;

display: -ms-flexbox;

display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
background-color: #222222;
color: rgba(255,255,255,0.6);
font-size:16px;
text-align: center;

box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}
.logo-upload{
margin: 20px auto 50px;
}
.content-main-upload{
width: calc(100% - 70px);
left: 70px;
}
.add-element>li>i{
-webkit-transition: all 0.5s;
transition: all 0.5s;
}
.add-element>li:hover i{
color: rgba(255,255,255,1);
}
.add-element>li{
position: relative;
display: block;
width: 70px;
margin: 25px auto 50px;
cursor: pointer;
}
.add-element>li>p{
margin-top: 16px;
}
/*弹窗样式*/

.mask{
display: none;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

-webkit-box-pack: center;

    -ms-flex-pack: center;

        justify-content: center;
position: fixed;
width: 100%;
height: 100%;
background:rgba(0,0,0,0.4);
text-align: center;
top: 0;
z-index: 999;
}
.pop{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
width: 550px;
height: 350px;
box-sizing: border-box;
padding: 30px 0;
border-radius: 4px;
background: white;
}
.pop-title{
font-size: 20px;
font-weight: bold;
}
.pop-content label{
font-size: 18px;
margin-right: 70px;
margin-left: 30px;
}
.pop-content input[type="radio"]{
position: relative;
cursor: pointer;
}
.pop-content input[type="radio"]:after{
content: "\f058";
font-family: FontAwesome;
font-size: 22px;
top: -4px;
color: #c2c2c2;
position: absolute;
background: white;
}
.pop-content input[type="radio"]:checked:after{
color: #04981a;

}
.type-title, .type-theme, .type-size{
margin: 20px 0;
padding-left: 40px;
}

.pop-buttons>button{
width: 180px;
height: 50px;
font-size: 18px;
margin: 0 15px;
}
.type-title input[type = "text"]{
	border: 1px solid #e0e0e0;
	width: 240px;
	height: 35px;
	margin-right: 70px;
	padding: 0 10px;
	font-size: 16px;
}

.panel-submit{
padding:0 30px;
}

button.submit{
width: 110px;
height: 32px;
font-size: 16px;
}
.panel-submit>button>i{
padding: 0 10px 0 0;
font-size: 16px;
}

/*个人中心*/
.personal-top{

	min-height: 400px;
	min-width: 1190px;
	text-align: center;
	background: -webkit-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/bg_personal.png)  no-repeat;
	background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
				url(/images/bg_personal.png)  no-repeat;
	background-size: 100% 100%;
	color: white;            
}
.user-avatar{
	margin-top: 110px;
	font-size: 18px;
	color: #858585;
}
.user-avatar .user-photo{
	width: 120px;
	height: 120px;
	background: #000000;
	border-radius: 50%;
	margin: 36px 0;
}

.personal-content{
	min-height: 500px;
	min-width: 1190px;
	color: #232323;
	position: relative;
}
.slide-content{
	position: relative;
	top: 0;
	background: white;
}
.acount-info{
	padding-top:100px; 
	top: 0px;
	width: 470px;
	left: 50%;
	margin-left: -235px;
}
.acount-info>div{
	margin: 30px 0;
}
.acount-info label{
	width: 100px;
	display: inline-block;
	text-align: left;
	color: #858585;
}
.acount-info input{
	width: 280px;
	height: 46px;
	border-radius: 4px;
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	padding: 0 16px;
	font-size:16px; 
}
.acount-info span{
	display: inline-block;
	width: 70px;
	text-align: right;
	color: #04981a;
	cursor: pointer;
}

.svg-input{
	display: none;
	position: absolute;
	width: 400px;
	height: 300px;
	background-color: #222222;
	border-radius: 6px;
	padding: 15px;
	left: 90px;
	top: 300px;
	box-shadow: 0 0 6px #232323;
}
.svg-input textarea{
	width: 100%;
	height: 220px;
	border-radius: 4px;
	background-color: #333333;
	border: none;
	padding: 6px;
	color: #a7a7a7;
}

.svg-input button{
	width: 49%;
	height: 46px;
	margin: 4px 0;
	font-size: 16px;
}
.svg-input button.button-add-svg{
	float: right;
}